.todo-list {
  display: flex;
  flex-direction: column;
  .cotainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .empty-list {
      padding: 20px;
      font-size: 2rem;
      color: #8c9094;
    }

    .todo-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid #a59b9b;
      margin-bottom: 10px;
      border-radius: 5px;
      border-color: #b3b3b3;

      &.completed {
        opacity: 0.5;
      }

      &:hover {
        background-color: #9bd0ff;
      }

      .name {
        font-size: 1.2rem;
      }

      .actions {
        button {
          margin-left: 10px;
        }
      }
    }
  }
}
